<!doctype html>
<html  lang="fr-FR">
   <head><meta charset="utf-8"></head>
   <body>
   
      Élève entré dans la base.
      <h2><a href = "/entreNouveau">Retour à la page d'inscription</a></h2>
      <h2><a href = "/liste">Visualisation de la table</a></h2>
      <h2><a href = "/">Retourner à la page d'accueil</a></h2>
      <h2><a href = "/recherche">Autre recherche</a></h2>

   </body>
</html>