<!doctype html>
<html lang="fr-FR">

<head>
   <meta charset="utf-8">
</head>

<body>

   <form action="/creation" method="POST">
      <button name="creation" , type="submit">Créer la base de donnée</button><br>
   </form>
   <h2><a href="/entreNouveau">--> entrer un élève</a></h2>
   <h2><a href="/recherche">--> rechercher un élève</a></h2>
   <h2><a href="/liste">--> voir la liste de tous les élèves</a></h2>
   <h2><a href="/centreExamens">--> voir la liste des centres d'examens</a></h2>
</body>

</html>